@page "/"

@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<PageTitle>Secure File Storage</PageTitle>

<h1>Dobrodošli u Secure File Storage aplikaciju</h1>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
            if (string.IsNullOrWhiteSpace(token))
            {
                Navigation.NavigateTo("login");
            }
        }
    }
}