@page "/"

<PageTitle>Secure File Storage</PageTitle>

<h1>Dobrodošli u Secure File Storage aplikaciju</h1>

Molimo Vas da se prijavite kako biste mogli da koristite aplikaciju.

<SurveyPrompt Title="How is Blazor working for you?" />
