@page "/register"
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager Navigation

@code {
    private RegistrationModel registrationModel = new RegistrationModel();
    private string? message = null;

    private async Task HandleRegistration() {
        message = null;
        try {
            var response = await Http.PostAsJsonAsync("api/users/register", registrationModel);
            if (response.IsSuccessStatusCode) {
                message = "Registracija uspešna!";
                registrationModel = new RegistrationModel();
                Navigation.NavigateTo("login"); 
            } else {
                message = "Registracija nije uspela. " + await response.Content.ReadAsStringAsync();
            }
        } catch (Exception ex) {
            message = $"Greška prilikom registracije: {ex.Message}";
        }
    }

    public class RegistrationModel {
        public string Email {get; set;} = string.Empty;
        public string Password {get; set;} = string.Empty;
    }
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 mt-5">
                <h3 class="card-title text-center">Registriraj se</h3>

                @if (message != null)
                {
                    <div class="alert alert-danger text-center">@message</div>
                }

                <EditForm Model="@registrationModel" OnValidSubmit="HandleRegistration">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="email">Email</label>
                        <InputText id="email" class="form-control" @bind-Value="registrationModel.Email" />
                    </div>

                    <div class="form-group mt-3">
                        <label for="password">Lozinka</label>
                        <InputText id="password" class="form-control" type="password" @bind-Value="registrationModel.Password" />
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary btn-block">Registriraj se</button>
                    </div>
                </EditForm>

                <div class="mt-3 d-flex justify-content-center align-items-center">
                    <span class="d-inline-flex align-items-center">
                        Postojeći korisnik? <NavLink class="btn btn-link ms-2" href="login">Prijavi se!</NavLink>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>