.page[b-mr04oiqa7y] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-mr04oiqa7y] {
    flex: 1;
}

.sidebar[b-mr04oiqa7y] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-mr04oiqa7y] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-mr04oiqa7y]  a, .top-row .btn-link[b-mr04oiqa7y] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-mr04oiqa7y] {
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-mr04oiqa7y] {
        display: none;
    }

    .top-row.auth[b-mr04oiqa7y] {
        justify-content: space-between;
    }

    .top-row a[b-mr04oiqa7y], .top-row .btn-link[b-mr04oiqa7y] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-mr04oiqa7y] {
        flex-direction: row;
    }

    .sidebar[b-mr04oiqa7y] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-mr04oiqa7y] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-mr04oiqa7y], article[b-mr04oiqa7y] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}