@inherits LayoutComponentBase

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code {
    public EventCallback OnAuthStateChanged { get; set; }

    public void HandleAuthStateChanged()
    {
        StateHasChanged();
    }
}
